<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de libros</title>
</head>
<body>

    <h1>Listado de libros</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
        </tr>

        {% for libro in libros %}
        <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>
                <a href="/editar_libro/{{ libro.id }}">Editar</a>
                |
                <a href="/eliminar_libro/{{ libro.id }}">Eliminar</a>
            </td>
                <!--<a href="/eliminar_libro/{{ libro.id }}">Eliminar</a> ESTE IBA -->
            
        </tr>
        {% endfor %}

    </table>

</body>
</html>